<div class="coupon-panel-container">
  <div class="thumbnail">
    <i class="fa fa-ticket icon-ticket"></i>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-code"></i>
      </span>
      <input type="text" ng-model="options.code" disabled readonly />
    </div>
    <div>
      <hr />
      <ul class="list-unstyled">
        <li ng-if="options.ends_at">
          <i class="fa fa-calendar"></i>
          Válido até <strong>{{ options.ends_at }}</strong>
        </li>
        <li ng-if="options.min_value">
          <i class="fa fa-shopping-cart"></i>
          Pedido minímo: <strong>{{ options.min_value | currency: "R$" }}</strong>
        </li>
        <li ng-show="options.type_of === 'shipping'">
          <i class="fa fa-motorcycle"></i>
          {{ options.type_of | translate }}
        </li>
        <li ng-if="options.value">
          <i class="fa fa-ticket"></i>
          <span ng-show="options.type_of === 'absolute'">
            Desconto de <strong>{{ options.value | currency: "R$" }}</strong>
          </span>
          <span ng-show="options.type_of === 'percetage'">
            Desconto de <strong>{{ options.value }}%</strong>
          </span>
        </li>
        <li ng-if="options.conditions">
          <div ng-repeat="condition in options.conditions">
            <div ng-if="condition.type === 'PaymentMethod' && condition.itens.length > 0">
              <i class="fa fa-credit-card"></i>
              Forma de pagamento
              <ul class="list-unstyled">
                <li ng-repeat="type in condition.types">
                  {{ type.alias | translate }}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
