<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    {{ product.name }} <span>{{ cartItem.total | currency: "R$" }}</span>
  </h4>
</div>
<div class="modal-body clearfix">
  <div class="row">
    <aside class="col-md-5">
      <img class="product-image img-thumbnail" ng-src="{{ product.img.medium }}" width="280" height="280" alt="Foto do produto com nome {{ product.name }}">
      <p class="product-description" ng-if="product.club_points">
        <i class="fa fa-trophy"></i>
        Ganhe <strong>{{ cartItem.amount * product.club_points }}</strong> pontos
        <a href="#" uib-tooltip="Ao comprar esse produto você ganha {{ product.club_points }} pontos no nosso programa de fidelidade" tooltip-placement="bottom" tooltip-append-to-body="true">
          <i class="fa fa-info-circle"></i>
        </a>
      </p>
      <p class="product-description" ng-if="product.enable_to_change_in_club">
        <i class="fa fa-exchange"></i>
        Disponível para troca
        <a href="#" uib-tooltip="Produto disponível para troca no nosso programa de fidelidade. A partir de {{ product.club_price }} pontos por unidade." tooltip-placement="bottom" tooltip-append-to-body="true">
          <i class="fa fa-info-circle"></i>
        </a>
      </p>
      <div class="product-description" ng-if="product.bonifications.length">
        <i class="fa fa-trophy"></i>
        Você tem direito a:
          <ul>
            <li ng-repeat="(key, b) in product.bonifications">
              <strong>{{ b.amount }}x</strong> {{ b.bonification.name }}
            </li>
          </ul>
        <div>
          <small>
            Alguns desses itens devem ser adicionados manualmente, geralmente na aba 'Extras'.
          </small>
        </div>
      </div>
    </aside>
    <section class="col-md-7">
      <div ng-if="product.description">
        <label>Descrição:</label>
        <blockquote ng-bind-html="product.description"></blockquote>
      </div>
      <label for="cart-item-amount">Selecione a quantidade:</label>
      <select id="cart-item-amount" ng-model="cartItem.amount" ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]" ng-change="ctrl.updatePrice()"></select>
      <hr ng-show="product.product_addon_categories.length > 0">
      <div ng-repeat="(key, addonCategory) in product.product_addon_categories" class="addon-categories-list">
        <div class="addon-category-name">
          {{ addonCategory.name }}
          <small ng-show="!addonCategory.max && !addonCategory.min">Escolha quantos ingredientes desejar</span></small>
          <small ng-show="!addonCategory.max && addonCategory.min">
            Escolha pelo menos {{ addonCategory.min }} <span ng-show="addonCategory.min === 1">ingrediente</span><span ng-show="addonCategory.min > 1">ingredientes</span>
          </small>
          <small ng-show="addonCategory.max">
            <span ng-show="addonCategory.max === 1 && addonCategory.min === 1 || addonCategory.max === 1 && !addonCategory.min">Escolha ao menos 1 ingrediente</span>
            <span ng-show="addonCategory.max > 1 && addonCategory.min >= 1">Escolha entre {{ addonCategory.min }} à {{ addonCategory.max }} ingredientes</span>
            <span ng-show="addonCategory.max > 1 && !addonCategory.min">Escolha até {{ addonCategory.max }} ingredientes</span>
          </small>
        </div>
        <div class="addons-list">
          <div ng-repeat="(_key, addon) in addonCategory.product_addons" class="addon-item">

            <label ng-disabled="!addon.available" ng-if="!addonCategory.multiple">
              <input type="radio" ng-model="cartItem.cart_item_addons[key]" ng-change="ctrl.updatePrice()" ng-disabled="!addon.available" ng-value="addon" />
              {{ addon.name }}
              <a ng-if="addon.club_points" href="#" uib-tooltip="Ao comprar esse ingrediente você ganha {{ addon.club_points }} pontos no nosso programa de fidelidade" tooltip-placement="bottom" tooltip-append-to-body="true">
                <i class="fa fa-trophy"></i>
              </a>
              <span class="addon-price" ng-show="addon.price > 0 && addon.available">({{ addon.price | currency: "R$" }})</span>
              <span class="addon-unavailable" ng-show="!addon.available">Ingrediente não disponível</span>
              <span class="addon-description" ng-show="addon.available && addon.description">{{ addon.description }}</span>
            </label>

            <label ng-disabled="!addon.available" ng-if="addonCategory.multiple && !addonCategory.allow_amount">
              <input type="checkbox" ng-model="cartItem.cart_item_addons[key][_key].amount" ng-true-value="1" ng-false-value="0" ng-change="ctrl.updatePrice()" ng-disabled="!addon.available" />
              {{ addon.name }}
              <a ng-if="addon.club_points" href="#" uib-tooltip="Ao comprar esse ingrediente você ganha {{ addon.club_points }} pontos no nosso programa de fidelidade" tooltip-placement="bottom" tooltip-append-to-body="true">
                <i class="fa fa-trophy"></i>
              </a>
              <span class="addon-price" ng-show="addon.price > 0 && addon.available">({{ addon.price | currency: "R$" }})</span>
              <span class="addon-unavailable" ng-show="!addon.available">Ingrediente não disponível</span>
            </label>

            <label class="clearfix" ng-disabled="!addon.available" ng-if="addonCategory.multiple && addonCategory.allow_amount">
              <span class="addon-name">{{ addon.name }}</span>
              <a ng-if="addon.club_points" href="#" uib-tooltip="Ao comprar esse ingrediente você ganha {{ addon.club_points }} pontos no nosso programa de fidelidade" tooltip-placement="bottom" tooltip-append-to-body="true">
                <i class="fa fa-trophy"></i>
              </a>
              <span class="addon-price" ng-show="addon.price > 0 && addon.available">({{ addon.price | currency: "R$" }})</span>
              <span class="addon-unavailable" ng-show="!addon.available">Ingrediente não disponível</span>

              <div class="btn-group">
                <button class="btn btn-sm btn-danger" ng-click="ctrl.decrement(key, _key)">
                  <i class="fa fa-minus-circle"></i>
                </button>
                <input
                  disabled
                  class="input-sm addon-amount"
                  ng-model="cartItem.cart_item_addons[key][_key].amount" />
                <button class="btn btn-sm btn-success" ng-click="ctrl.increment(key, _key)">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </div>
            </label>
          </div>
        </div>
      </div>
      <hr>
      <label for="cart-item-note">Deseja fazer alguma observação?</label>
      <textarea id="cart-item-note" rows="3" ng-model="cartItem.note"></textarea>
      <limit maxlength="150" model="cartItem.note"></limit>
    </section>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ctrl.add()" ng-show="!cartItem.id" ng-disabled="buttons.disabled">
    <i class="fa" ng-class="{ 'fa-plus-square': !buttons.disabled, 'fa-spinner fa-spin': buttons.disabled }"></i>
    Adicionar
  </button>
  <button class="btn btn-success" ng-click="ctrl.add()" ng-show="cartItem.id" ng-disabled="buttons.disabled">
    <i class="fa" ng-class="{ 'fa-pencil': !buttons.disabled, 'fa-spinner fa-spin': buttons.disabled }"></i>
    Editar
  </button>
  <button class="btn btn-default" ng-click="ctrl.close()" ng-disabled="buttons.disabled">
    Cancelar
  </button>
</div>
