<div class="modal-header modal-header-with-options">
  <h3 class="modal-title">Detalhes do pedido #{{ order.store_number }}</h3>
  <div class="btn-group modal-options">
    <button type="button" ng-click="ctrl.changeStatus(status.alias)" class="btn btn-default" ng-class="{ active: order.status === status.alias, hide: !orderClassStatus[status.alias] }" ng-disabled="order.status === status.alias" ng-repeat="status in statuses" ng-init="ctrl.evaluateOrderClass(status)">{{ status.name }}</button>
  </div>
</div>
<div class="modal-body">
  <div class="panel panel-default" ng-show="order.error_reason_msg">
    <div class="panel-heading">
      <i class="icon icon-times-circle"></i>
       Razão de erro
    </div>
    <div class="panel-body">
      {{ order.error_reason_msg }}
    </div>
  </div>
  <div class="panel panel-default" ng-show="order.note">
    <div class="panel-heading">
      <i class="icon icon-pencil"></i>
       Observação
    </div>
    <div class="panel-body">
      {{ order.note }}
    </div>
  </div>
  <div class="panel panel-default" ng-show="order.courier">
    <div class="panel-heading">
      <i class="icon icon-motorcycle"></i>
        Entregador
        <small class="change" ng-show="order.status === 'delivering'">
          <a href="javascript:void(0)" ng-click="ctrl.changeCourier()">
            <i class="icon icon-pencil"></i>
            Alterar
          </a>
        </small>
    </div>
    <div class="panel-body">
      <div class="alert alert-warning" ng-if="!order.courier" style="margin-bottom: 0;">
        Nenhum entregador associado a este pedido.
      </div>
      <div class="row" ng-if="order.courier">
        <div class="col-md-3">
          <div class="panel panel-default panel-courier">
            <img class="product-image" ng-src="{{ order.courier.avatar.medium }}" width="150" height="150">
            <div class="panel-footer">
              {{ order.courier.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="icon icon-shopping-cart"></i>
       Detalhes do pedido
    </div>
    <div class="panel-body no-padding">
      <table>
        <thead>
          <tr>
            <th style="width: 20%;">Item</th>
            <th style="width: 10%;">Quantidade</th>
            <th style="width: 40%;">Detalhes</th>
            <th style="width: 20%;">Obs.</th>
            <th style="width: 10%;">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in order.cart.products">
            <td>{{ product.name }}</td>
            <td>{{ product.amount }} un.</td>
            <td>
              <ul class="product-list">
                <li ng-show="product.addons_base.length > 0">
                  <strong>Ingredientes base:</strong>
                  <ul>
                    <li ng-repeat="addon in product.addons_base">
                      {{ addon.name }}
                      <span class="label label-success" ng-if="addon.price && addon.price > 0">{{ addon.price  | currency: "R$" }}</span>
                    </li>
                  </ul>
                </li>
                <li ng-show="product.addons_opt.length > 0">
                  <strong>Adicionais</strong>
                  <ul>
                    <li ng-repeat="addon in product.addons_opt">
                      {{ addon.name }}
                      <span class="label label-success" ng-if="addon.price && addon.price > 0">{{ addon.price  | currency: "R$" }}</span>
                    </li>
                  </ul>
                </li>
                <li ng-show="(product.addons_to_remove.length > 0) && (product.addons_to_remove.length < product.addons_to_put.length)">
                  <strong>Ingredientes para remover</strong>
                  <ul>
                    <li ng-repeat="addon in product.addons_to_remove">
                      <span class="label label-danger">Sem</span> {{ addon.name }}
                    </li>
                  </ul>
                </li>
                <li ng-show="(product.addons_to_put.length > 0) && (product.addons_to_put.length < product.addons_to_remove.length)">
                  <strong>Ingredientes a colocar</strong>
                  <ul>
                    <li ng-repeat="addon in product.addons_to_put">
                      <span class="label label-success">Com</span> {{ addon.name }}
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              {{ product.note || '-' }}
            </td>
            <td>{{ product.total | currency: 'R$'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default" ng-show="order.address">
    <div class="panel-heading">
      <i class="icon icon-map-marker"></i>
       Endereço
       <small>{{ order.address.street }} <span ng-show="order.address.number">- {{ order.address.number }}</span> <span ng-show="order.address.complement">- {{ order.address.complement }}</span></small>
       <small class="change" ng-show="order.status !== 'completed' || order.status !== 'cancelled'">
        <a href="javascript:void(0)" ng-click="ctrl.changeAddress()">
          <i class="icon icon-pencil"></i>
          Alterar
        </a>
      </small>
    </div>
    <div class="panel-body no-padding">
      <div class="order-map">
        <map id="address-map" latitude="order.address.latitude" longitude="order.address.longitude" markers="markers" route="route"></map>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="icon icon-file-text"></i>
      Histórico de alteração de status
    </div>
    <div class="panel-body no-padding clearfix">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 50%;">Status</th>
              <th style="width: 50%;">Horário de alteração</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="status in statuses" ng-class="{ success: order.status === status.alias }">
              <td>{{ status.name }}</td>
              <td>{{ (order.order_status_progress[status.alias] | date: 'HH:mm:ss') || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="ctrl.close()">Fechar</button>
</div>